*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.biggest-box{
    margin: auto;
    background-color: rgb(217, 224, 224);
    height: 700px;
    width: 1100px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}



/* INTESTAZIONE */
header{
    background-color: white;
    border: 1px solid black;
    height: 70px;
}

.header-box{
    padding-left: 20px;
    padding-top: 10px;
}

#titolo{
    display: inline-block;
    font-family: Helvetica;
    font-size: 40px;
    vertical-align: middle;
    color: rgb(13, 13, 61);
}

.logo{
    vertical-align: middle;
}



/* MAIN */

/* 1st section */
.first-section{
    background-color: white;
    width: 800px;
    height: 50px;
    margin: auto;
    margin-top: 50px;
    border-radius: 5px;
    border: 1px solid black;

}

.buttonA{
    margin-top: 12px;
    margin-left: 50px;
    color: white;
    background-color: rgb(24, 142, 253);
    border: rgb(24, 142, 253);
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

.buttonB{
    margin-top: 12px;
    margin-left: 5px;
    color: grey;
    background-color: rgb(241, 243, 245);
    padding: 5px 12px 5px 12px;
    border-radius: 5px;
    border: 1px solid grey;
}


/* 2nd section */
.second-section{
    background-color: white;
    width: 800px;
    height: 500px;
    margin: auto;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 5px;
    padding-top: 10px;


}

ul{
    list-style: none;
}

.strong{
    font-size: 20px;
    font-family: Helvetica;
    padding-left: 50px;
    padding-top: 20px;

}

li{
    font-size: 15px;
    font-family: Helvetica;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgb(13, 13, 61);
    

}

.circle{
    border: 1px solid rgb(0, 167, 97);
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    color: rgb(0, 167, 97);
}

.redcircle{
    border: 1px solid red;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    color: red;
}

/* speciali */
.specialA{
    display: inline-block;
    background-color: rgb(13, 165, 216);
    border-radius: 10px;
    font-size: 10px;
    color: white;
    width: 50px;
    height: 20px;
    text-align: center;
    line-height: 20px;


}

.specialB{
    display: inline-block;
    background-color: rgb(165, 100, 182);
    border-radius: 10px;
    font-size: 10px;
    color: white;
    width: 60px;
    height: 20px;
    text-align: center;
    line-height: 20px;


}

.specialC{
    display: inline-block;
    background-color: rgb(34, 192, 158);
    border-radius: 10px;
    font-size: 10px;
    color: white;
    width: 70px;
    height: 20px;
    text-align: center;
    line-height: 20px;

}

.specialD{
    display: inline-block;
    background-color: rgb(224, 157, 32);
    border-radius: 10px;
    font-size: 10px;
    color: white;
    width: 50px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}

.specialE{
    display: inline-block;
    background-color: rgb(216, 68, 112);
    border-radius: 10px;
    font-size: 10px;
    color: white;
    width: 50px;
    height: 20px;
    text-align: center;
    line-height: 20px;


}

.specialF{
    display: inline-block;
    background-color: rgb(168, 197, 37);
    border-radius: 10px;
    font-size: 10px;
    color: white;
    width: 50px;
    height: 20px;
    text-align: center;
    line-height: 20px;

}