*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.biggest-box{
    margin: auto;
    background-color: rgb(217, 224, 224);
    height: 700px;
    width: 1100px;
    margin-top: 100px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}



/* INTESTAZIONE */
header{
    background-color: white;
    border: 1px solid black;
    height: 70px;
}

.header-box{
    padding-left: 20px;
    padding-top: 10px;
}

#titolo{
    display: inline-block;
    font-family: Helvetica;
    font-size: 40px;
    vertical-align: middle;
    color: rgb(13, 13, 61);
}

.logo{
    vertical-align: middle;
}



/* MAIN */

/* 1st section */
.first-section{
    background-color: white;
    width: 800px;
    height: 50px;
    margin: auto;
    margin-top: 50px;
    border-radius: 5px;
    border: 1px solid black;

}

.button{
    margin-top: 15px;
    margin-left: 50px;
}




/* 2nd section */
.second-section{

}